# Introduction

## EDA

#### Preparing the ground

##### Install and import necessary libraries

In [11]:
import pandas as pd
import cv2
import os
from tqdm.notebook import trange, tqdm

#### Path specified

In [2]:
DATA_DIR = 'data'
LABEL_DIR = 'label.csv'
IMAGE_DIR = os.path.join(DATA_DIR, 'DaanForestPark')

In [3]:
label_df = pd.read_csv(LABEL_DIR, header=None)
label_df.columns = ['dirpath','target']

In [4]:
label_df.head()

                             dirpath target
0  DaanForestPark/20180330/1lZsRrQzj    通泉草
1  DaanForestPark/20180330/4PdXwYcGt  紫花酢漿草
2  DaanForestPark/20180330/6VrmeiUE5    通泉草
3  DaanForestPark/20180330/7nrSoiuHL    通泉草
4  DaanForestPark/20180330/7RKdkJLgy    通泉草

In [5]:
def load_image(file_name):
    image = cv2.imread(file_name)
    return cv2.cvtColor(image, cv2.COLOR_BGR2RGB)

In [10]:
init_image_collections_df = pd.DataFrame(columns=['dirpath', 'img'])
for subdir, dirs, files in tqdm(os.walk(IMAGE_DIR)):
    for filename in files:
        if filename.endswith(('jpg')):
            init_image_collections_df = init_image_collections_df.append({'dirpath': subdir, 'img': load_image(subdir + os.sep + filename)}, ignore_index=True)

779it [09:41,  1.34it/s]

In [12]:
init_image_collections_df.head()

,dir,img,dirpath
0,NaN,"[[[85, 113, 36], [86, 114, 37], [90, 117, 40],...",data/DaanForestPark/20180825/0543KILCA
1,NaN,"[[[108, 109, 52], [109, 110, 53], [112, 112, 5...",data/DaanForestPark/20180825/0543KILCA
2,NaN,"[[[141, 192, 39], [141, 192, 39], [142, 193, 3...",data/DaanForestPark/20180825/0543KILCA
3,NaN,"[[[147, 180, 99], [145, 178, 97], [144, 177, 9...",data/DaanForestPark/20180825/0543KILCA
4,NaN,"[[[186, 213, 146], [186, 213, 146], [185, 211,...",data/DaanForestPark/20180825/0543KILCA